<app-header></app-header>
<section id="contactUs">
    <div class="container">
        <h2>Contact Us</h2>
        <form [formGroup]="contactForm">
            <mat-form-field >
                <mat-label>Full Name:</mat-label>
                <input placeholder="Full Name" matInput   formControlName="name" required>
              </mat-form-field>

              <mat-form-field >
                <mat-label>Email:</mat-label>
                <input  matInput placeholder="abc@example.com" formControlName="email" required>

              </mat-form-field>
              <mat-form-field >
                <mat-label>Subject</mat-label>
               <mat-select  formControlName="subject" required>
                   <mat-option value="Subject A" >Suject A</mat-option>
                   <mat-option value="Subject B">Subject B</mat-option>
               </mat-select>
              
           </mat-form-field>

           <mat-form-field >
            <mat-label>Body</mat-label>
            <textarea matInput   placeholder="text"  formControlName="body" ></textarea>
        </mat-form-field>
           
           <button type="submit">Send</button>
        </form>
    </div>
</section>
<app-footer></app-footer>
