@import '../../../assets/scss/lib.scss';




section#contactUs {
    padding: 4.59rem  0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../assets/images/banner.jpg');
    h2 {
        color: $white;
        font-size: 2.3rem;
        text-align: center;
    }
      

form {
    max-width: 580px;
    width: calc(78vw- 20px);
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 2rem;
    -webkit-box-shadow: 0 2px 12px 0 #666666;
    box-shadow: 0 2px 12px 0 #666666;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(0,0,0,0.1));

    input{

        columns: $black !important;
    }
       
    mat-form-field mat-label     {
        font-size: 1.2rem;
      }
      
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
        background-color:$black !important;
    }
    
    ::ng-deep .mat-select-value,
    ::ng-deep .mat-select-placeholder,
    ::ng-deep .mat-select-value, ::ng-deep .mat-select-arrow,
    ::ng-deep  .mat-form-field-appearance-legacy .mat-form-field-label{
       color:$black !important;  
       font-weight: bold !important;
    }
    

}

}