$blue: #0e4a7e;
$red: #d3222a;
$green: #5db346;
$gray: #58595b;
$white: #fdfdfd;
$black: #2e2e2e;
$orange: #ce6300;
$transparentBlue: rgba(0, 0, 255, 0.465);
$transparentRed:rgba(255, 0, 0, 0.5);
$transparentorange:#ce6400af;
$transparentBlack:rgba(0,0,0,0.5);


//graphs width
$graphWidth:70vw;


// Small devices
@mixin sm {
    @media (min-width: #{577px}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{769px}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{993px}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{1201px}) {
        @content;
    }
 }