
        <section  (clickOutside)="onClickedOutside($event)" class="displayNone" id="menuDiv">
            
            <div class="container">
                <strong> Stint 1 Laps</strong>
                <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step1'}" (click)="step='step1'">
                   
                     <div> 
                        <i class="material-icons   color4"  tooltip="<p>Please click to view  <strong> lap time  </strong></p>"  [options]="myOptions" >access_alarm</i>
                     </div>
                     <div> 
                        <i class="material-icons  color4" >check</i>
                    </div>

                    <div> 
                        <i class="material-icons">access_alarm</i>
                    </div>
                    
                    <div> 
                        1:34:883
                    </div>
                    <div> 
                        <i class="material-icons">access_alarm</i>
                    </div>

                    <div> 
                        30.6
                    </div>

                    <div> 
                        <i class="material-icons">ev_station</i>
                    </div>

                    <div> 
                        2.35
                    </div>

                    <div> 
   
                    </div>
                 </div>

                 <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step2'}" (click)="step='step2'">
                   
                    <div> 
                       <i class="material-icons   color2">cancel</i>
                    </div>
                    <div> 
                       <i class="material-icons   color2">check</i>
                   </div>

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>

                <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step3'}" (click)="step='step3'">
                   
                    <div> 
                       <i class="material-icons  color2">cancel</i>
                    </div>
                    <div> 
                       <i class="material-icons    color4">check</i>
                   </div>

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>

                <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step4'}" (click)="step='step4'">
                   
                    <div> 
                        <i class="material-icons  color2 displayHidden">cancel</i>
                    </div> 
                    <div> 
                       <i class="material-icons  color2">cancel</i>
                    </div>
                   

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>
                <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step5'}" (click)="step='step5'">
                   
                    <div> 
                        <i class="material-icons  color2 displayHidden">access_alarm</i>
                    </div> 
                    <div> 
                        <i class="material-icons    color4">check</i>
                    </div>
                   

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>
                <div class="innerFlex" [ngClass]="{'bgTransparentColor1': step==='step6'}" (click)="step='step6'">
                   
                    <div> 
                        <i class="material-icons  color2 displayHidden">access_alarm</i>
                    </div> 
                    <div> 
                       <i class="material-icons   color4">check</i>
                    </div>
                   

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>


           </div>

            <div class="container">
                <strong> Stint 2 Laps</strong>
                <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step1'}" (click)="stepRed='step1'">
                   
                    <div> 
                       <i class="material-icons   color4">access_alarm</i>
                    </div>
                    <div> 
                       <i class="material-icons    color4">check</i>
                   </div>

                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>
                   
                   <div> 
                       1:34:883
                   </div>
                   <div> 
                       <i class="material-icons">access_alarm</i>
                   </div>

                   <div> 
                       30.6
                   </div>

                   <div> 
                       <i class="material-icons">ev_station</i>
                   </div>

                   <div> 
                       2.35
                   </div>

                   <div> 
  
                   </div>
                </div>

                <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step2'}" (click)="stepRed='step2'">
                  
                   <div> 
                      <i class="material-icons  color2">cancel</i>
                   </div>
                   <div> 
                      <i class="material-icons   color2">check</i>
                  </div>

                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>
                  
                  <div> 
                      1:34:883
                  </div>
                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>

                  <div> 
                      30.6
                  </div>

                  <div> 
                      <i class="material-icons">ev_station</i>
                  </div>

                  <div> 
                      2.35
                  </div>

                  <div> 
 
                  </div>
               </div>

               <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step3'}" (click)="stepRed='step3'">
                  
                   <div> 
                      <i class="material-icons  color2">cancel</i>
                   </div>
                   <div> 
                      <i class="material-icons    color4">check</i>
                  </div>

                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>
                  
                  <div> 
                      1:34:883
                  </div>
                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>

                  <div> 
                      30.6
                  </div>

                  <div> 
                      <i class="material-icons">ev_station</i>
                  </div>

                  <div> 
                      2.35
                  </div>

                  <div> 
 
                  </div>
               </div>

               <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step4'}" (click)="stepRed='step4'">
                  
                   <div> 
                       <i class="material-icons  color2 displayHidden">cancel</i>
                   </div> 
                   <div> 
                      <i class="material-icons  color2">cancel</i>
                   </div>
                  

                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>
                  
                  <div> 
                      1:34:883
                  </div>
                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>

                  <div> 
                      30.6
                  </div>

                  <div> 
                      <i class="material-icons">ev_station</i>
                  </div>

                  <div> 
                      2.35
                  </div>

                  <div> 
 
                  </div>
               </div>
               <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step5'}" (click)="stepRed='step5'">
                  
                   <div> 
                       <i class="material-icons  color2 displayHidden">access_alarm</i>
                   </div> 
                   <div> 
                       <i class="material-icons    color4">check</i>
                   </div>
                  

                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>
                  
                  <div> 
                      1:34:883
                  </div>
                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>

                  <div> 
                      30.6
                  </div>

                  <div> 
                      <i class="material-icons">ev_station</i>
                  </div>

                  <div> 
                      2.35
                  </div>

                  <div> 
 
                  </div>
               </div>
               <div class="innerFlex"  [ngClass]="{'bgTransparentColor2': stepRed==='step6'}" (click)="stepRed='step6'">
                  
                   <div> 
                       <i class="material-icons  color2 displayHidden">access_alarm</i>
                   </div> 
                   <div> 
                      <i class="material-icons   color4">check</i>
                   </div>
                  

                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>
                  
                  <div> 
                      1:34:883
                  </div>
                  <div> 
                      <i class="material-icons">access_alarm</i>
                  </div>

                  <div> 
                      30.6
                  </div>

                  <div> 
                      <i class="material-icons">ev_station</i>
                  </div>

                  <div> 
                      2.35
                  </div>

                  <div> 
 
                  </div>
               </div>
            </div>

          

            
        </section>

