<app-header></app-header>
<section id="track">
    <div class="container">
        <h2>Car/Track</h2>

        <div class="formGrp">
          <aside>
              <mat-form-field appearance="fill">
                <mat-label>Sim</mat-label>
                  <mat-select>
                    <mat-option value="option1">All Sims</mat-option>
                  </mat-select>
              </mat-form-field>
          </aside>
          <aside>
            <mat-form-field appearance="fill">
              <mat-label>Track</mat-label>
                <mat-select>
                  <mat-option value="option1">All Track1</mat-option>
                  <mat-option value="option1">All Track2</mat-option>
                  <mat-option value="option1">All Track3</mat-option>
                  <mat-option value="option1">All Track4</mat-option>
                  <mat-option value="option1">All Track5</mat-option>
                  <mat-option value="option1">All Track6</mat-option>
                  <mat-option value="option1">All Track7</mat-option>
                  <mat-option value="option1">All Track8</mat-option>
                  <mat-option value="option1">All Track9</mat-option>
                  <mat-option value="option1">All Track10</mat-option>
                  <mat-option value="option1">All Track11</mat-option>
                  <mat-option value="option1">All Track12</mat-option>
                  <mat-option value="option1">All Track13</mat-option>
                  <mat-option value="option1">All Track14</mat-option>
                  <mat-option value="option1">All Track15</mat-option>
                  <mat-option value="option1">All Track16</mat-option>
                  <mat-option value="option1">All Track17</mat-option>
                  <mat-option value="option1">All Track18</mat-option>
                  <mat-option value="option1">All Track19</mat-option>
                  <mat-option value="option1">All Track20</mat-option>
                  <mat-option value="option1">All Track21</mat-option>
                  <mat-option value="option1">All Track22</mat-option>
                  <mat-option value="option1">All Track23</mat-option>
                  <mat-option value="option1">All Track24</mat-option>
                  <mat-option value="option1">All Track25</mat-option>
                  <mat-option value="option1">All Track26</mat-option>
                  <mat-option value="option1">All Track27</mat-option>
                  <mat-option value="option1">All Track28</mat-option>
                  <mat-option value="option1">All Track29</mat-option>
                  <mat-option value="option1">All Track30</mat-option>
                  <mat-option value="option1">All Track31</mat-option>
                  <mat-option value="option1">All Track32</mat-option>
                  <mat-option value="option1">All Track33</mat-option>
                  <mat-option value="option1">All Track34</mat-option>
                  <mat-option value="option1">All Track35</mat-option>
                  <mat-option value="option1">All Track36</mat-option>
                  <mat-option value="option1">All Track37</mat-option>
                  <mat-option value="option1">All Track38</mat-option>
                  <mat-option value="option1">All Track39</mat-option>
                  <mat-option value="option1">All Track40</mat-option>
                  <mat-option value="option1">All Track41</mat-option>
                  <mat-option value="option1">All Track42</mat-option>
                  <mat-option value="option1">All Track43</mat-option>
                  <mat-option value="option1">All Track44</mat-option>
                  <mat-option value="option1">All Track45</mat-option>
                  <mat-option value="option1">All Track46</mat-option>
                  <mat-option value="option1">All Track47</mat-option>
                  <mat-option value="option1">All Track48</mat-option>
                  <mat-option value="option1">All Track49</mat-option>
                  <mat-option value="option1">All Track50</mat-option>
                </mat-select>
            </mat-form-field>
          </aside>
          <aside>
            <mat-form-field appearance="fill">
              <mat-label>Car</mat-label>
                <mat-select>
                  <mat-option value="option1">All Car1</mat-option>
                  <mat-option value="option1">All Car2</mat-option>
                  <mat-option value="option1">All Car3</mat-option>
                  <mat-option value="option1">All Car4</mat-option>
                  <mat-option value="option1">All Car5</mat-option>
                  <mat-option value="option1">All Car6</mat-option>
                  <mat-option value="option1">All Car7</mat-option>
                  <mat-option value="option1">All Car8</mat-option>
                  <mat-option value="option1">All Car9</mat-option>
                  <mat-option value="option1">All Car10</mat-option>
                  <mat-option value="option1">All Car11</mat-option>
                  <mat-option value="option1">All Car12</mat-option>
                  <mat-option value="option1">All Car13</mat-option>
                  <mat-option value="option1">All Car14</mat-option>
                  <mat-option value="option1">All Car15</mat-option>
                  <mat-option value="option1">All Car16</mat-option>
                  <mat-option value="option1">All Car17</mat-option>
                  <mat-option value="option1">All Car18</mat-option>
                  <mat-option value="option1">All Car19</mat-option>
                  <mat-option value="option1">All Car20</mat-option>
                  <mat-option value="option1">All Car21</mat-option>
                  <mat-option value="option1">All Car22</mat-option>
                  <mat-option value="option1">All Car23</mat-option>
                  <mat-option value="option1">All Car24</mat-option>
                  <mat-option value="option1">All Car25</mat-option>
                  <mat-option value="option1">All Car26</mat-option>
                  <mat-option value="option1">All Car27</mat-option>
                  <mat-option value="option1">All Car28</mat-option>
                  <mat-option value="option1">All Car29</mat-option>
                  <mat-option value="option1">All Car30</mat-option>
                  <mat-option value="option1">All Car31</mat-option>
                  <mat-option value="option1">All Car32</mat-option>
                  <mat-option value="option1">All Car33</mat-option>
                  <mat-option value="option1">All Car34</mat-option>
                  <mat-option value="option1">All Car35</mat-option>
                  <mat-option value="option1">All Car36</mat-option>
                  <mat-option value="option1">All Car37</mat-option>
                  <mat-option value="option1">All Car38</mat-option>
                  <mat-option value="option1">All Car39</mat-option>
                  <mat-option value="option1">All Car40</mat-option>
                  <mat-option value="option1">All Car41</mat-option>
                  <mat-option value="option1">All Car42</mat-option>
                  <mat-option value="option1">All Car43</mat-option>
                  <mat-option value="option1">All Car44</mat-option>
                  <mat-option value="option1">All Car45</mat-option>
                  <mat-option value="option1">All Car46</mat-option>
                  <mat-option value="option1">All Car47</mat-option>
                  <mat-option value="option1">All Car48</mat-option>
                  <mat-option value="option1">All Car49</mat-option>
                  <mat-option value="option1">All Car50</mat-option>
                </mat-select>
            </mat-form-field>
          </aside>
      </div>
      <section class="hScroll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 sessionTable">
            
            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <div [innerHTML]="element.icon"></div> 
                 </td>
              </ng-container>

            <ng-container matColumnDef="trackPosition">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <div [innerHTML]="element.trackPosition"></div> 
                </td>
              </ng-container>

            <ng-container matColumnDef="track">
                <th mat-header-cell *matHeaderCellDef> Track/Config </th>
                <td mat-cell *matCellDef="let element"> {{element.track}} </td>
              </ng-container>

            
            <ng-container matColumnDef="car">
                <th mat-header-cell *matHeaderCellDef> Car </th>
                <td mat-cell *matCellDef="let element"> {{element.car}} </td>
              </ng-container>

            
            <ng-container matColumnDef="lastDriven">
              <th mat-header-cell *matHeaderCellDef> Last Driven </th>
              <td mat-cell *matCellDef="let element"> {{element.lastDriven}} </td>
            </ng-container>

            <ng-container matColumnDef="bestLap">
                <th mat-header-cell *matHeaderCellDef> Best Lap </th>
                <td mat-cell *matCellDef="let element"> {{element.bestLap}} </td>
              </ng-container>

            <ng-container matColumnDef="timeDriven">
                <th mat-header-cell *matHeaderCellDef> Time Driven </th>
                <td mat-cell *matCellDef="let element"> {{element.timeDriven}} </td>
              </ng-container>

            <ng-container matColumnDef="session">
                <th mat-header-cell *matHeaderCellDef> Session </th>
                <td mat-cell *matCellDef="let element"> {{element.session}} </td>
              </ng-container>

            <ng-container matColumnDef="laps">
                <th mat-header-cell *matHeaderCellDef> Laps </th>
                <td mat-cell *matCellDef="let element"> {{element.laps}} </td>
              </ng-container>

            <ng-container matColumnDef="cleanLaps">
                <th mat-header-cell *matHeaderCellDef> Clean Laps </th>
                <td mat-cell *matCellDef="let element"> {{element.cleanLaps}} </td>
              </ng-container>
          
            <ng-container matColumnDef="goTo">
                <th mat-header-cell *matHeaderCellDef> Go To Session </th>
                <td mat-cell *matCellDef="let element">
                    <div [innerHTML]="element.goTo"></div> 
                </td>
              </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
    </div>
</section>
<app-footer></app-footer>
