@import '../../../assets/scss/lib.scss';


section#lapInfoBox{
mat-card {
           
    padding: 1em;
    margin: 1.5em;
    -webkit-box-shadow: 0 2px 12px 0 #666666;
    box-shadow: 0 2px 12px 0 #666666;
    @include sm {
        width: auto;
    }
    @include md {
        width: calc(33vw - 5em) ;
    }
    @include lg {
        width: calc(25vw - 5em) ;
    }
    
    .mat-list {
        
        .mat-list-item {
          height: auto;
          border-bottom: dashed 1px #ccc;
            .mat-list-item-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                
            }
            p, h3 {
                margin-bottom: 0;
            }
            
            p {
                font-size: 0.895rem;
            }
            span{
                font-size: 0.9rem;
                  font-weight: 800;
            }
            i.flag {
                margin-top: 0.08em;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url('/assets/icons/united-kingdom.svg');
            }
            a {
                color: $black ;
                
               
            }
        }
        .mat-list-item:first-child{
            border-bottom: none;
            color: $white;
            
        }
        .mat-list-item{
       
         height: auto !important;
             border-radius: 2px;
             p {
                 padding:0.1em 0px;
            }
        }
     
    }
   
    .listbottomSec{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0.4rem;
    .listbottom{
        display: flex;
        cursor: pointer;
         justify-content: center;
       


        svg{
            width: 20px;
            height: 21px;
            display: inline block;

        }


        i{
            width: 20px;
            height: 21px;
            display: inline block;

        }
        strong{
            margin-top: 0.15rem;
            margin-left: 0.3rem;
            margin-right: 0.6rem;
        }
    }
}


}

}
