@import '../../../assets/scss/lib.scss';
header {
    background-color: $black;
    top: 0;
    width: 100%;
    z-index: 50;
    border-bottom: $red solid 3px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    
    @include lg {
        align-items: center;
        flex-direction: row;
        
    }
    

    a#logo {
        width: 120px;
        height: 80px;
        background-color: #dfdede;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100px;
        background-image: url('/assets/images/logo.png');
        @include xl {
            width: 160px;
            background-size: 135px;
        }
    }
    a#menuBtn {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('/assets/icons/menu.svg');
        display: block;
        position: absolute;
        left: 87%;
        top: 4%;
        @include lg {
            margin-right: 40px;
            padding-top: 3rem;
            display: none;
            position: relative;
        }
    }
    .nav {
        
        display: none;
        position: absolute;
        background-color: $white;
        -webkit-box-shadow: 0 2px 2px 4px #c9c9c96e;
        box-shadow: 0 2px 2px 4px #c9c9c96e;
        width: 130px;
        top: 82px;
        right: 0;
        z-index:50;
        flex-direction: column;
        padding: 0 15px 15px;
        @include lg{

            background-color: $black;
            -webkit-box-shadow:none;
            box-shadow:none;
            position: relative;
            display: flex;
            padding: 20px 0;
            justify-content: start;
            align-items: center;
            width: 100%;
            border-top: 1px solid  $red;
            margin: 0;
            margin: 0 20px;
            width: calc(100% - 120px);
            border-top: none;
            top: 0;
            left:0;
        }
        @include xl {
            width: calc(100% - 160px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        aside {
           color: $black;
            @include lg{
                color: $white;
            }
            // width: 79%;
            a {
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                transition: 0.2s all linear;
                color: $black;
                display: block;
                margin: 0.5rem auto;
                padding: 7px 0;
                border-bottom: none;
                text-align: left;
                display: table;
                margin: 0;
                @include lg {
                    display:inline-block;
                    text-align: center;
                    color: $white;
                    padding: 0 8px 5px 8px;
                    font-size: 14px;
                    border-bottom: transparent solid 4px; 
                    font-size: 14px;
                    margin: 0 5px;
                  
                }
                @include xl {
                
                    font-size: 16px;
                    margin: 0 10px;

                  
                }
            }

            a:hover, a.active {
                color: $red;
                @include lg{
                    border-bottom: $red solid 4px;
                }
              
            }

            // a:hover, a.active {
            //     color:$red;
            // }
           
            a.logBtn {
                color: $white;
                background-color: $red;
                border-radius: 60px;
                padding: 0 30px;
                font-size: 16px;
                text-align: center !important;
                width: 100px;
                margin: 0;
                
                @include lg{
                    margin-left: 1rem;
                }
            }
        }
    }
    
    
    .isActive {
        display: flex;
     
        
      
    }
    
}
// #slideMenu {
//     // display: none;
//     width: 200px;
//     position: fixed;
//     top: 83px;
//     bottom: 0;
//     right: 0;
//     background-color: $white;
//     -webkit-box-shadow: 0 2px 2px 4px #c9c9c96e;
//     box-shadow: 0 2px 2px 4px #c9c9c96e;
//     z-index: 50;
//     a {
//         margin: 20px 0;
//         font-size: 16px;
//         font-weight: 600;
//         display: block;
//         color: $black;
//         padding-left: 15px;
//         text-decoration: none;
//         transition: 0.2s all linear;
//     }
//     a:hover {
//         color: $red;
//     }
// }

i.user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/icons/profile-user-dark.svg');
    @include lg{
        background-image: url('/assets/icons/profile-user.svg');
    }
   
}