@import '../../../assets/scss/lib.scss';
section#faq {
    padding: 120px 0 80px 0;
    h2 {
        // font-family: 'Varela Round', sans-serif;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        color: $black;
        @include lg {
            font-size: 40px;
        }
    }

    i.qts {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('/assets/icons/question.svg');
    }

 
    p {
        font-size: 14px;
        @include sm {
            font-size: 16px;
        }
        img {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        iframe {
            max-width: 500px;
            width: 100%;
        }
    }
}