<mat-list role="list"  >
    <mat-list-item role="listitem"  class="lap2heading"  ><p> Lap 2 is :</p></mat-list-item>
    <mat-list-item  style="padding: 0 !important;" role="listitem">
       <strong>Time:</strong>  <p> 0.400 slower than lap 1 </p>
       
    </mat-list-item>
    <mat-list-item role="listitem">
       <strong>Track Identical:</strong>   <p> identical to lap 1 </p>
    </mat-list-item>
    <mat-list-item role="listitem">
         <strong> setups:  </strong> <p>Identical </p>
    </mat-list-item>

    <mat-list-item role="listitem">
      <strong> Compare Laps Video:  </strong> 
       <i class="material-icons lapColor2"  (click)="openWatchVideoCompareDialog()" style="cursor: pointer;">videocam</i> 

  </mat-list-item> 
  
</mat-list>
