@import '../../../assets/scss/lib.scss';
section#session {
    padding: 120px 0 80px 0;
    h2 {
        // font-family: 'Varela Round', sans-serif;
        color: $white;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        color: $black;
        @include lg {
            font-size: 40px;
        }
    }
    aside {
        display: flex;
        p {
            font-size: 14px;
            margin-right: 30px;
            @include sm {
                font-size: 16px;
            }
        }
    }
}