@import '../../../assets/scss/lib.scss';
section#wldRecord {
    padding: 120px 0 80px 0;
    h2 {
        // font-family: 'Varela Round', sans-serif;
        color: $white;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        color: $black;
        @include lg {
            font-size: 40px;
        }
    }
    form {
        margin-bottom: 40px;
        .formGrp {
            display: flex;
            flex-flow: column nowrap;
            @include sm {
                flex-flow: row nowrap;
            }
            aside {
                width: 100%;
                margin-right: 20px;
                @include sm {
                    width: 300px;
                }
                .mat-option {
                    .mat-option-text {
                        img.gameImg {
                            margin-right: 60px !important;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    
}