<app-header></app-header>
<section id="dnPage">
    <div class="container">
        
        <aside>
            <div class="txtCenter">
                <h2>Step 1</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat facere quae id aperiam odio tempora odit, mollitia consequuntur alias atque rerum eum commodi laborum earum placeat nihil autem accusamus! Ducimus.</p>
                <h2>Step 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia id illo repudiandae incidunt voluptatum nihil veritatis ipsam fuga! Laborum, quisquam iure. Quo perspiciatis accusantium quod sint magnam laborum? Sapiente, quidem.</p>
                <button mat-raised-button color="accent" class="btn">Download</button>
            </div>
            <span></span>
        </aside>
    </div>
</section>
<app-footer></app-footer>
