<section id="third" >
    <div class="sectionBar">
       <div>
        <div class="tab bgColor1 color5">
            S01:0.467
       </div>

       <div class="tab bgColor2 color5">
        S1: 0.467 
       </div>

       </div>

       <div>
        <div class="tab bgColor1 color5"> 
            S2: 0.467
       </div>

       <div class="tab bgColor2 color5">
        S2: 0.467 
       </div>

       </div>
       <div>
        <div class="tab bgColor1 color5">
            S3: 0.467 
       </div>

       <div class="tab bgColor2 color5">
        S3: 0.467 
       </div>

       </div>
       <div>
        <div class="tab bgColor1 color5">
            S4: 0.467 
       </div>

       <div class="tab bgColor2 color5">
        S4: 0.467 
       </div>

       </div>
       <div>
        <div class="tab bgColor1 color5">
            S5: 0.467 
       </div>

       <div class="tab bgColor2 color5">
        S5: 0.467 
       </div>

       </div>
       <div>
        <div class="tab bgColor1 color5">
            S6: 0.467 
       </div>

       <div class="tab bgColor2 color5">
        S6: 0.467 
       </div>

       </div>
        
  
        
    </div>

</section>
