@import '../../../assets/scss/lib.scss';
section#third {

    .sectionBar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.3em;
        background-color: rgba(0,0,0,0.1);
        
        .tab{
            margin: 0 0.1em;
            margin-bottom: 0.2em;
            font-size: 1rem;
            color: white;
            font-weight: bold;
            width: 80px;
            height: 25px;
            text-align: center;
            border-radius: 2px;
        }
  
    }

}