@import '../../../assets/scss/lib.scss';
mat-card {
     
    
    padding: 1em;
    margin: 1.5em;
    -webkit-box-shadow: 0 2px 12px 0 #666666;
    box-shadow: 0 2px 12px 0 #666666;
    
    @include sm {
        width: auto;
    }
    @include md {
        width: calc(33vw - 5em) ;
    }
    @include lg {
        width: calc(24vw - 5em) ;
    }

    .mat-list {
        
        .mat-list-item {
          height: auto;
          border-bottom: dashed 1px #ccc;
            .mat-list-item-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                
            }

            p, h3 {
                margin-bottom: 0;
            }
            
            p {
                font-size: 0.895rem;
            }
            span{
                font-size: 0.9rem;
                  font-weight: 800;
            }

            .mat-button{
                padding: 0 !important;
                text-align: left !important;

            }
        }
        .mat-list-item:first-child{
            border-bottom: none;
        }
        .mat-list-item.lap1heading{
            background-color: $blue;
            color: $white;
            height: auto !important;
            border-radius: 2px;
            p {
                padding:0.1em 0px;
            }
        } 
      
    }
   

}
    

