@import '../../../assets/scss/lib.scss';
#cdk-overlay-0, .cdk-overlay-pane{
    max-width: 100vw !important;
}


 h2{
  margin: 0 !important;
 }
#close{
    float: right;
    cursor: pointer;
    font-size: 0.934rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 75vw;
    .col-10{
        width: auto;
        section{
          padding-right: 0.8rem;
        }
    }

    .col-2{
        width: auto;
    }
}



//   drag drop
.example-list {
    border: solid 2px $gray;
    border-radius: 1px;
  }
  
  .example-box {
    padding: 0.3rem;
    border-bottom: solid 1px $gray;
    color: $black;
    cursor: move;
    font-size: 0.835rem;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

 
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

  .mat-dialog-actions {
     padding:0 !important;
     margin-bottom: 0 !important; 
     min-height: 7vh !important;
}

.mat-checkbox{
  width: 5rem !important;
}

.mat-dialog-actions .mat-button-base+.mat-button-base{

  margin-left: 0 !important;
  margin: 0.3rem 0.4rem !important;
}


