<app-header></app-header>

<section id="wldRecord">
  
 
  
    <div class="main">
      <div class="heading">
        <h2>World Record</h2>
      </div>
      <div class="group">

      
        <form>
            <div class="formGrp">
                <aside>
                    <mat-form-field>
                      <mat-label>Game:</mat-label>
                        <mat-select>
                          <mat-option value="option1">iRacing</mat-option>
                        </mat-select>
                    </mat-form-field>
                </aside>

                <aside>
                  <mat-form-field >
                    <mat-label>Car:</mat-label>
                      <mat-select>
                        <mat-option value="option1">iRacing1</mat-option>
                        <mat-option value="option1">iRacing2</mat-option>
                        <mat-option value="option1">iRacing3</mat-option>
                        <mat-option value="option1">iRacing4</mat-option>
                        <mat-option value="option1">iRacing5</mat-option>
                        <mat-option value="option1">iRacing6</mat-option>
                        <mat-option value="option1">iRacing7</mat-option>
                        <mat-option value="option1">iRacing8</mat-option>
                        <mat-option value="option1">iRacing9</mat-option>
                        <mat-option value="option1">iRacing10</mat-option>
                        <mat-option value="option1">iRacing11</mat-option>
                        <mat-option value="option1">iRacing12</mat-option>
                        <mat-option value="option1">iRacing13</mat-option>
                        <mat-option value="option1">iRacing14</mat-option>
                        <mat-option value="option1">iRacing15</mat-option>
                        <mat-option value="option1">iRacing16</mat-option>
                        <mat-option value="option1">iRacing17</mat-option>
                        <mat-option value="option1">iRacing18</mat-option>
                        <mat-option value="option1">iRacing19</mat-option>
                        <mat-option value="option1">iRacing20</mat-option>
                        <mat-option value="option1">iRacing21</mat-option>
                        <mat-option value="option1">iRacing22</mat-option>
                        <mat-option value="option1">iRacing23</mat-option>
                        <mat-option value="option1">iRacing24</mat-option>
                        <mat-option value="option1">iRacing25</mat-option>
                        <mat-option value="option1">iRacing26</mat-option>
                        <mat-option value="option1">iRacing27</mat-option>
                        <mat-option value="option1">iRacing28</mat-option>
                        <mat-option value="option1">iRacing29</mat-option>
                        <mat-option value="option1">iRacing30</mat-option>
                        <mat-option value="option1">iRacing31</mat-option>
                        <mat-option value="option1">iRacing32</mat-option>
                        <mat-option value="option1">iRacing33</mat-option>
                        <mat-option value="option1">iRacing34</mat-option>
                        <mat-option value="option1">iRacing35</mat-option>
                        <mat-option value="option1">iRacing36</mat-option>
                        <mat-option value="option1">iRacing37</mat-option>
                        <mat-option value="option1">iRacing38</mat-option>
                        <mat-option value="option1">iRacing39</mat-option>
                        <mat-option value="option1">iRacing40</mat-option>
                        <mat-option value="option1">iRacing41</mat-option>
                        <mat-option value="option1">iRacing42</mat-option>
                        <mat-option value="option1">iRacing43</mat-option>
                        <mat-option value="option1">iRacing44</mat-option>
                        <mat-option value="option1">iRacing45</mat-option>
                        <mat-option value="option1">iRacing46</mat-option>
                        <mat-option value="option1">iRacing47</mat-option>
                        <mat-option value="option1">iRacing48</mat-option>
                        <mat-option value="option1">iRacing49</mat-option>
                        <mat-option value="option1">iRacing50</mat-option>
                      </mat-select>
                  </mat-form-field>
                </aside>
                
                <aside>
                  <mat-form-field>
                    <mat-label>Track:</mat-label>
                      <mat-select>
                        <mat-option value="option1">iRacing1</mat-option>
                        <mat-option value="option1">iRacing2</mat-option>
                        <mat-option value="option1">iRacing3</mat-option>
                        <mat-option value="option1">iRacing4</mat-option>
                        <mat-option value="option1">iRacing5</mat-option>
                        <mat-option value="option1">iRacing6</mat-option>
                        <mat-option value="option1">iRacing7</mat-option>
                        <mat-option value="option1">iRacing8</mat-option>
                        <mat-option value="option1">iRacing9</mat-option>
                        <mat-option value="option1">iRacing10</mat-option>
                        <mat-option value="option1">iRacing11</mat-option>
                        <mat-option value="option1">iRacing12</mat-option>
                        <mat-option value="option1">iRacing13</mat-option>
                        <mat-option value="option1">iRacing14</mat-option>
                        <mat-option value="option1">iRacing15</mat-option>
                        <mat-option value="option1">iRacing16</mat-option>
                        <mat-option value="option1">iRacing17</mat-option>
                        <mat-option value="option1">iRacing18</mat-option>
                        <mat-option value="option1">iRacing19</mat-option>
                        <mat-option value="option1">iRacing20</mat-option>
                        <mat-option value="option1">iRacing21</mat-option>
                        <mat-option value="option1">iRacing22</mat-option>
                        <mat-option value="option1">iRacing23</mat-option>
                        <mat-option value="option1">iRacing24</mat-option>
                        <mat-option value="option1">iRacing25</mat-option>
                        <mat-option value="option1">iRacing26</mat-option>
                        <mat-option value="option1">iRacing27</mat-option>
                        <mat-option value="option1">iRacing28</mat-option>
                        <mat-option value="option1">iRacing29</mat-option>
                        <mat-option value="option1">iRacing30</mat-option>
                        <mat-option value="option1">iRacing31</mat-option>
                        <mat-option value="option1">iRacing32</mat-option>
                        <mat-option value="option1">iRacing33</mat-option>
                        <mat-option value="option1">iRacing34</mat-option>
                        <mat-option value="option1">iRacing35</mat-option>
                        <mat-option value="option1">iRacing36</mat-option>
                        <mat-option value="option1">iRacing37</mat-option>
                        <mat-option value="option1">iRacing38</mat-option>
                        <mat-option value="option1">iRacing39</mat-option>
                        <mat-option value="option1">iRacing40</mat-option>
                        <mat-option value="option1">iRacing41</mat-option>
                        <mat-option value="option1">iRacing42</mat-option>
                        <mat-option value="option1">iRacing43</mat-option>
                        <mat-option value="option1">iRacing44</mat-option>
                        <mat-option value="option1">iRacing45</mat-option>
                        <mat-option value="option1">iRacing46</mat-option>
                        <mat-option value="option1">iRacing47</mat-option>
                        <mat-option value="option1">iRacing48</mat-option>
                        <mat-option value="option1">iRacing49</mat-option>
                        <mat-option value="option1">iRacing50</mat-option>
                      </mat-select>
                  </mat-form-field>
                </aside>
            </div>
        </form>

        <section class="hScroll">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position"  >
                <th mat-header-cell *matHeaderCellDef  > # </th>
                <td mat-cell *matCellDef="let element"  > {{element.position}} </td>
              </ng-container>

            <ng-container matColumnDef="lapTime">
                <th mat-header-cell *matHeaderCellDef> Lap Time </th>
                <td mat-cell *matCellDef="let element"> {{element.lapTime}} </td>
              </ng-container>

            <ng-container matColumnDef="Interval">
                <th mat-header-cell *matHeaderCellDef> Interval </th>
                <td mat-cell *matCellDef="let element"> {{element.Interval}} </td>
              </ng-container>

            <ng-container matColumnDef="Driver">
              <th mat-header-cell *matHeaderCellDef> Driver </th>
              <td mat-cell *matCellDef="let element"> {{element.Driver}} </td>
            </ng-container>

            <ng-container matColumnDef="airTemp">
                <th mat-header-cell *matHeaderCellDef> Air Temp </th>
                <td mat-cell *matCellDef="let element"> {{element.airTemp}} </td>
              </ng-container>

            <ng-container matColumnDef="trackTemp">
                <th mat-header-cell *matHeaderCellDef> Track Temp </th>
                <td mat-cell *matCellDef="let element"> {{element.trackTemp}} </td>
              </ng-container>

            <ng-container matColumnDef="at">
                <th mat-header-cell *matHeaderCellDef> At </th>
                <td mat-cell *matCellDef="let element"> {{element.at}} </td>
              </ng-container>
          
            <ng-container matColumnDef="goTo">
                <th mat-header-cell *matHeaderCellDef> Go To </th>
                <td mat-cell *matCellDef="let element">
                  
             <mat-icon  class="color4">insights</mat-icon>

                </td>
              </ng-container>

              


              
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>

      </div>
    </div>
 
</section>

<app-footer></app-footer>
