.sticky {
  position: fixed !important;
  top: 0 !important;
}

.stickySideBar {
  position: fixed !important;
  top: 16% !important;
  left: 77.8vw;
}

.stickyTopSec {
  position: fixed;
  top: 2.3rem;
  width: 100%;
  color: white;
  padding-bottom: 0 !important;
}

section#top {
  width: 100%;
}

section#top .topHeading {
  background: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1000;
}

section#top .topHeading .container {
  width: auto;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  margin: 0 1em;
}

section#top .topHeading .container div {
  font-family: "Source Sans Pro", sans-serif;
  color: #fdfdfd;
  font-size: 0.9rem;
}

section#top .topHeading .container div strong {
  display: inline-block;
  width: 60px;
  text-align: center;
  border-radius: 0.2em;
}

section#topSec .topHeading {
  background-color: #d7d7d7;
  padding: 0.3em 0;
}

section#topSec .topHeading .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#topSec .topHeading .container p {
  font-size: 14px;
  margin: 0 10px;
}

@media (min-width: 769px) {
  section#topSec .topHeading .container p {
    font-size: 16px;
  }
}

section#topSec .topInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 769px) {
  section#topSec .topInner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (min-width: 993px) {
  section#topSec .topInner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

section#menuIcon .menu {
  background-image: url(/assets/icons/menu.svg);
  width: 32px;
  height: 25px;
  border-radius: 4px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0.5em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

section#bottomSec {
  z-index: 1000;
}

section#bottomSec .bottomHeading {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section#bottomSec .bottomHeading .container {
  width: auto;
  margin: 0;
  padding-top: 0.4rem;
}

section#bottomSec .bottomHeading .container #lapMenu {
  padding: 0 0.5rem;
  cursor: pointer;
}

section#bottomSec .bottomHeading .container .innerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 0.4rem;
}

section#bottomSec .bottomHeading .container .innerFlex div {
  padding: 0 0.2em;
}

section#bottomSec .bottomHeading .container .innerFlex div strong {
  display: inline-block;
  text-align: center;
}

section#bottomSec .bottomHeading .container .flag {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/assets/icons/united-kingdom.svg");
}

section#bottomSec .bottomHeading .container i {
  cursor: pointer;
}

section#bottomSec .bottomHeading .container .chart {
  background-image: url(/assets/icons/addchart-white.svg);
  width: 15px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0.5em;
  margin-left: 1em;
  cursor: pointer;
}

section#graphSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdfdfd;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 1rem;
}

section#graphSec .graphArea {
  width: 77vw;
  margin: 0.5rem;
}

section#graphSec .sideBar {
  width: 20vw;
  margin-right: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#graphSec .sideBar mat-card {
  margin-top: 1.4rem;
  -webkit-box-shadow: 0 2px 12px 0 #666666;
  box-shadow: 0 2px 12px 0 #666666;
}
/*# sourceMappingURL=telemetry-pg.component.css.map */