
<i mat-dialog-close  id="close" class="material-icons color2">clear</i>
 
<div mat-dialog-content id="main">



  <form>
    <div  class="row">
      <div class="col" >
          <mat-form-field >
            <mat-label>User:</mat-label>
           <mat-select>
               <mat-option value="profile1">User 1</mat-option>
               <mat-option value="profile2">User 2</mat-option>
           </mat-select>
           </mat-form-field>
     </div>

    <div class="col" >
      <mat-form-field >
        <mat-label>Game:</mat-label>
       <mat-select>
           <mat-option value="profile1">game 1</mat-option>
           <mat-option value="profile2">game 2</mat-option>
       </mat-select>
       </mat-form-field>
    </div>

    <div class="col" >
      <mat-form-field >
        <mat-label>Car:</mat-label>
       <mat-select>
           <mat-option value="profile1">car 1</mat-option>
           <mat-option value="profile2">car 2</mat-option>
       </mat-select>
       </mat-form-field>
    </div>

    <div class="col" >
      <mat-form-field >
        <mat-label>Tracks:</mat-label>
       <mat-select>
           <mat-option value="profile1">track 1</mat-option>
           <mat-option value="profile2">track 2</mat-option>
       </mat-select>
       </mat-form-field>
    </div>
  </div> 
  
  <div  class="row_2">
    <div class="col-2" >
         
        <strong>My Stints</strong>
        <mat-form-field >
          <mat-label>Latest:</mat-label>
         <mat-select>
             <mat-option value="profile1">
              <img src="../../../assets/flag-international//interanation16X16.png"  > 
              Latest
             </mat-option>
             <mat-option value="profile2">
              <img src="../../../assets/flag-international//interanation16X16.png"  > 
              Fastest</mat-option>
         </mat-select>
         </mat-form-field>

         <mat-form-field >
            <mat-label>Fastest:</mat-label>
          <mat-select>
              <mat-option value="profile1">
                <img src="../../../assets/flag-international//interanation16X16.png"  > 
                Fastest</mat-option>
              <mat-option value="profile2">
                <img src="../../../assets/flag-international//interanation16X16.png"  > 
               
                Fastest</mat-option>
          </mat-select>
          </mat-form-field>
   </div>


   <div class="col-4" >
         
    <strong>Other's Stints</strong>
    <mat-form-field >
      <mat-label>Same Track Temp:</mat-label>
     <mat-select>
         <mat-option value="profile1">
          <img src="../../../assets/flag-international//interanation16X16.png"  > 
          Same Track Temp:</mat-option>
         <mat-option value="profile2">
          <img src="../../../assets/flag-international//interanation16X16.png"  > 
          Fastest</mat-option>
     </mat-select>
     </mat-form-field>
     <mat-form-field >
      <mat-label>User's Best:</mat-label>
      <mat-select>
          <mat-option value="profile1">
            <img src="../../../assets/flag-international//interanation16X16.png"  > 
            User's Best</mat-option>
          <mat-option value="profile2">
            <img src="../../../assets/flag-international//interanation16X16.png"  > 
            Fastest</mat-option>
      </mat-select>
      </mat-form-field>
</div>


</div> 
  
  
      
</form>
  
  
</div>