@import '../../../assets/scss/lib.scss';
#cdk-overlay-0, .cdk-overlay-pane{
    max-width: 80vw !important;
    
}
img{
    margin-right: 0.2rem;
}
.mat-option .mat-option-text {
    justify-content: left !important;
    
}

#close{
    float: right;
    cursor: pointer;
    font-size: 0.934rem;
}

#main{
    width: 70vw;
    height: 32vh;

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    width: 70vw;

    .col{
    width: calc(21.5vw - 100px);
    mat-form-field{
       width: 90% !important;
    }
    }
}


.row_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    margin-top: 2rem;
    
    .col-2{
        width: calc(23.5vw - 100px);
        mat-form-field{
           width: 90% !important;

        }

       
    }
    .col-4{
       
        width: calc(33.5vw - 100px);
        mat-form-field{
            width: 90% !important;
            
              
            
        }

    }


}

}