@import '../../../assets/scss/lib.scss';
#cdk-overlay-0, .cdk-overlay-pane{
    max-width: 100vw !important;
    
}

  
#close{
    float: right;
    cursor: pointer;
    font-size: 0.934rem;
}

#main{
   
    .row{
        display: flex;
        justify-content:space-between;
        width: 75vw;
 
        .col-1{
            border: 2px  solid red;
            width: 20vw;

        }

        .col-2{
            width: 50vw;
            border: 2px solid green;
        }
    }
}   