@import '../../../assets/scss/lib.scss';
section#pricing {
    background-color: $white;
    padding: 120px 0 80px 0;
    h2 {
        // font-family: 'Varela Round', sans-serif;
        text-align: center;
        color: $black;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 40px;
        @include sm {
            font-size: 40px;
        }
    }
    .priceInner {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        @include sm {
            flex-flow: row wrap;
        }
        aside {
            width: 100%;
            background-color: $white;
            text-align: center;
            border-radius: 5px;
            -webkit-box-shadow: 0 2px 8px 0 #B8B8B8;
            box-shadow: 0 2px 8px 0 #B8B8B8;
            margin: 20px 0;
            @include sm {
                width: calc((100% - 30px) / 2);
            }
            @include lg {
                width: calc((100% - 60px) / 4);
                margin: 0;
            }
            span {
                width: 100%;
                height: 220px;
                display: inline-block;
                background-color: $red;
                color: $white;
                border-radius: 5px 5px 0 0;
                i {
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-image: url('/assets/images/car-icon.jpg');
                    -webkit-box-shadow: 0 2px 6px 0 #B8B8B8;
                    box-shadow: 0 2px 6px 0 #B8B8B8;
                    background-color: $white;
                }
                i.black {
                    border: $black solid 2px;
                }
                i.red {
                    border: $red solid 2px;
                }
                i.green {
                    border: $green solid 2px;
                }
                i.blue {
                    border: $blue solid 2px;
                }
                h3 {
                    padding: 10px 0;
                    font-size: 30px;
                    font-weight: 300;
                    margin: 10px 0;
                }
                h4 {
                    font-size: 60px;
                    font-weight: 300;
                    margin: 40px 0 5px 0;
                    small {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
                h5 {
                    font-size: 16px;
                    font-weight: 300;
                    margin: 10px 0;
                    del {
                        font-size: 25px;
                        small {
                            font-size: 14px;
                        }
                    }
                }
                .line {
                    width: 50%;
                    height: 1px;
                    margin: 0 auto;
                    background-color: $white;
                }
            }
            span.black {
                background-color: $black;
            }
            span.red {
                background-color: $red;
            }
            span.green {
                background-color: $green;
                border-color: $green;
            }
            span.blue {
                background-color: $blue;
                border-color: $blue;
            }
            
            ul {
                padding: 40px 20px 25px 20px;
                li {
                    list-style: none;
                    margin: 5px 0;
                    font-size: 14px;
                    font-weight: 600;
                    color: $gray;
                    text-align: left;
                    i {
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('/assets/icons/check-mark.svg');
                    }
                }
            }
            a.btn{
                margin: 10px 0 40px 0;
            }
        }
        aside.black {
            a.btn:hover {
                background-color: $black;
                border-color: $black;
            }
        }
        aside.red {
            a.btn:hover {
                background-color: $red;
                border-color: $red;
            }
        }
        aside.green {
            a.btn:hover {
                background-color: $green;
                border-color: $green;
            }
        }
        aside.blue {
            a.btn:hover {
                background-color: $blue;
                border-color: $blue;
            }
        }
    }
    
}