<app-header></app-header>
<section id="pricing">
    <div class="container">
        <h2>Our Packages</h2>
        <div class="priceInner">
            <aside class="black">
                <span class="black">
                    <h3>Free</h3>
                    <div class="line"></div>
                    <h4>$59<small>/yr</small></h4>
                    <h5><del>$70<small>/yr</small></del></h5>
                    <i class="black"></i>
                </span>
                <ul>
                    <li> <i></i> Basic Telemetry Channels(*)</li>
                    <li> <i></i> Adv. Telemetry Channels(*)</li>
                    <li> <i></i> Easy to read charts</li>
                    <li> <i></i> Dynamic Track/Line Compare</li>
                    <li> <i></i> Compare laps to others</li>
                    <li> <i></i> Video recording of best laps</li>
                    <li> <i></i> SBS video comparation</li>
                    <li> <i></i> Public recording mode(*)</li>
                    <li> <i></i> World records registration</li>
                    <li> <i></i> Leaderboard access</li>
                    <li> <i></i> Unlimited data storage(*)</li>
                    <li> <i></i> 90th percentill fastest access</li>
                    <li> <i></i> Buy private packs</li>
                </ul>
                <a href="" class="btn">Login</a>
            </aside>
            <aside class="red">
                <span class="red">
                    <h3>Public</h3>
                    <div class="line"></div>
                    <h4>$68<small>/yr</small></h4>
                    <h5><del>$89<small>/yr</small></del></h5>
                    <i class="red"></i>
                </span>
                <ul>
                    <li> <i></i> Everything in Free Package</li>
                    <li> <i></i> Access to all fastest laps</li>
                    <li> <i></i> Access to public setup data</li>
                    <li> <i></i> Up to 2 mates(*)</li>
                    <li> <i></i> 1 hour live telemetry/month</li>
                </ul>
                <a href="" class="btn">Login</a>
            </aside>
            <aside class="green">
                <span class="green">
                    <h3>Private</h3>
                    <div class="line"></div>
                    <h4>$89<small>/yr</small></h4>
                    <h5><del>$100<small>/yr</small></del></h5>
                    <i class="green"></i>
                </span>
                <ul>
                    <li> <i></i> Everything in Public Package</li>
                    <li> <i></i> Private recording mode(*)</li>
                    <li> <i></i> Create private packs(*)</li>
                    <li> <i></i> Up to 5 mates</li>
                    <li> <i></i> 2.5 hour live telemetry/month</li>
                </ul>
                <a href="" class="btn">Contact Us</a>
            </aside>
            <aside class="blue">
                <span class="blue">
                    <h3>Engineer/Instructor</h3>
                    <div class="line"></div>
                    <h4>$95<small>/yr</small></h4>
                    <h5><del>$150<small>/yr</small></del></h5>
                    <i class="blue"></i>
                </span>
                <ul>
                    <li> <i></i> Everything in Private Package</li>
                    <li> <i></i> Up to 20 mates(*)</li>
                    <li> <i></i> 5 hour live telemetry/month</li>
                </ul>
                <a href="" class="btn">Contact Us</a>
            </aside>
        </div>
    </div>
</section>
<app-footer></app-footer>
