@import '../../../assets/scss/lib.scss';
#cdk-overlay-0, .cdk-overlay-pane{
    max-width: 100vw !important;
    
}

  
#close{
    float: right;
    cursor: pointer;
    font-size: 0.934rem;
}

.video-player-dimensions ,.video-player_2-dimensions{
    width:initial  !important;
      height: 47vh !important;
}


#main{
    width:75.5vw;
    .row{
        display: flex;
        justify-content:center;
 
        .col-2{
            
            width: 37.5vw;

        }

        .col-2:first-child{
            margin-right: 0.5vw;
            

        }


        
    }

    .bottomBtnGroup{
        text-align: center;
        margin-top: 2vh;
        button{
         margin-left: 0.3rem;
         width: 130px !important;
         min-width: unset!important;
        }
        
    }
}