<app-header></app-header>
<section id="sellData">
    <div class="container">
        <h2>Sell Your Data</h2>
        <div class="sellInner">
            <aside>
                <i class="helmet"></i>
                <p>Lorem ipsum dolor sit amet consectetur, modi eos. Ad eaque nulla cupiditate autem optio porro, voluptatem consequatur debitis!</p>
            </aside>
            <aside>
                <i class="timer"></i>
                <p>Lorem ipsum dolor sit elit. Quaerat nam incidunt, delectus explicabo, rerum quod deleniti molestias cum sunt ipsum maxime eos nisi ratione?</p>
            </aside>
            <aside>
                <i class="racingCar"></i>
                <p>Lorem ipsum dolor sit elit. Recusandae sunt voluptatum quam, ea ex magnam commodi nisi vitae inventore facilis qui vero minus dolorem sapiente?</p>
            </aside>
            <aside>
                <i class="helmet"></i>
                <p>Lorem ipsum dolor sit elit. Incidunt, at dolorum quod est modi unde aliquam quas repellat, magni, ea quod vel!</p>
            </aside>
            <aside>
                <i class="timer"></i>
                <p>Lorem ipsum dolor, sit elit. Minus fuga sequi vero provident illo, qui quod distinctio fugiat voluptates est perspiciatis ea.</p>
            </aside>
            <aside>
                <i class="racingCar"></i>
                <p>Lorem ipsum dolor sit elit. Odit Quae fugiat a officia aspernatur eveniet quisquam est commodi.</p>
            </aside>
        </div>
    </div>
</section>
<section id="contactUs">
    <div class="container">
        <h2>Contact Us</h2>
        <form>
            <div class="formGrp nameArea">
                <aside>
                    <input type="text" placeholder="First Name">
                </aside>
                <aside>
                    <input type="text" placeholder="Last Name">
                </aside>
            </div>
            <div class="formGrp nameArea">
                <aside>
                    <input type="email" placeholder="Email">
                </aside>
                <aside>
                    <input type="text" placeholder="Phone No.">
                </aside>
            </div>
            <div class="formGrp">
                <textarea name="" placeholder="Message"></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</section>
<app-footer></app-footer>
