<i mat-dialog-close  id="close" class="material-icons color2">clear</i>
<div  mat-dialog-title >
  {{title}}
</div>

    <div mat-dialog-content id="main">
        <p>Our record shows you are using Telemetry Logger version 1.3.29</p>
        <p>Due to a problem with its self-update mechanism, you should manually download the latest release from the download page and install it.</p>
        <p>There is no need to manually uninstall the existing logger before installing the new one.</p>
        <p>
          Please visit our download page to <a href="#">download</a> our latest release
        </p>
    </div>